{% extends "layout.html" %}

{% block page_title %}
Question page- date of birth
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {{ macro.breadcrumb() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Question page - date of birth
      </h1>

      <h2 class="heading-medium">What is it?</h2>

      <p>insert</p>

      <div class="screenshot">
        <img src="/public/images/question-page-dob/screenshot.png" width="494" height="288" alt="Screen shot of date of date of birth question page"/>
      </div>

      <h2 class="heading-medium">Accessibility success criteria</h2>

      <ul class="list list-bullet">
        <li>insert</li>
      </ul>

      <h2 class="heading-medium">Test Cases</h2>
      <ul class="list list-bullet">
        <li><a href="01/">1 - Prototype kit</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
