// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// Styles to make working in the sandbox easier - will refactor as it grows
// GL: Please don't do this, these styles will override any imported patterns
// @import 'sandbox';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related links
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.related-links {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

main {
  outline: none;
}

.heading-xsmall {
  margin: 1em 0 0 0;
  @include bold-16();
}

.example,
.screenshot,
.test-case {
  border: 2px solid #bfc1c3;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.test-case {
  .heading-medium {
    margin-top: 0;
  }
}

.screenshot {
  position: relative;
}
.screenshot__heading {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 0 5px;
  @include bold-16();
}

.screenshot img {
  max-width: 100%;
}

.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.check-your-answers {

  td {
    @include core-19;
    vertical-align: top;
  }

  .change-answer {
    text-align: right;
    font-weight: bold;
    padding-right: 0;
  }

}




// Replacement width settings for form inputs

// 5. Form controls
// ==========================================================================

// By default, form controls are 50% width for desktop,
// and 100% width for mobile

// In this prototype we've added a class to the containing DIV so these
// form-control classes don't break previous versions
div.input_test {

  .form-control {
    @include box-sizing(border-box);
    @include core-19;
    width: 100%;

    padding: 4px;
    background-color: $white;
    border: 2px solid $grey-1;

    // TODO: Remove 50% width set for tablet and up
    // !! BREAKING CHANGE !!
    // width set to auto to simulate removal
    @include media(tablet) {
      width: 100%;
    }

  }

  // Radio buttons
  .form-radio {
    display: block;
    margin: 10px 0;

    input {
      vertical-align: middle;
      margin: -4px 5px 0 0;
    }
  }

  // Checkboxes
  .form-checkbox {
    display: block;
    margin: $gutter-half 0;

    input {
      vertical-align: middle;
      margin: -2px 5px 0 0;
    }
  }





  // 6. Form control widths
  // ==========================================================================

  // TODO: Update these
  // Form control widths

  // chars	width in ems
  // 50	    26
  // 35	    18.5
  // 25	    13.5
  // 15	    8.5
  // 10	    6
  // 5	    3.5
  // 3	    2.5

  .form-control-char-auto { // intended for select options that have pre-populated text
    width: 100%;

    @include media(tablet) {
      width: auto;
    }
  }

  .form-control-char-50 {
    width: 100%;

    @include media(tablet) {
      width: 26em;
    }
  }

  .form-control-char-35 {
    width: 100%;

    @include media(tablet) {
      width: 18.5em;
    }
  }

  .form-control-char-25 {
    width: 100%;

    @include media(tablet) {
      width: 13.5em;
    }
  }

  .form-control-char-15 {
    width: 100%;

    @include media(tablet) {
      width: 8.5em;
    }
  }

  .form-control-char-10 {
    width: 100%;

    @include media(tablet) {
      width: 6em;
    }
  }

  .form-control-char-5 {
    width: 100%;

    @include media(tablet) {
      width: 3.5em;
    }
  }

  .form-control-char-3 {
    width: 100%;

    @include media(tablet) {
      width: 2.5em;
    }
  }

} // end input_test
