{% extends "layout.html" %}

{% block page_title %}
Service manual disclosure widget
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Service Manual disclosure widget
      </h1>

      <div class="example">
        <img src="/public/images/service-manual-disclosure/screenshot.png" width="400" height="274" alt="Screen shot of the pattern" />
      </div>

      <h2 class="heading-medium">Accessibility success criteria</h2>

      <ul class="list list-bullet">
        <li>It must be possible to focus on the disclosure button using the tab key.</li>
        <li>The disclosure button must change in appearance when keyboard focus moves to it.</li>
        <li>It must be possible to activate the disclosure button using the space and enter keys.</li>
        <li>The disclosure button must change in appearance when the mouse is hovered over it.</li>
        <li>It must be possible to activate the disclosure button using a click.</li>
        <li>The disclosure button must be large enough to tap accurately with one finger.</li>
        <li>The disclosure button must change in appearance to indicate the touch-down state (see General #4).</li>
        <li>It must be possible to activate the disclosure button using standard button voice commands.</li>
        <li>The expanded/collapsed state of the disclosure widget must be available in the code.</li>
        <li>The relationship between the disclosure button and disclosed content must be available in the code.</li>
        <li>It must be possible to focus on the disclosure button using standard screen reader button commands.</li>
        <li>The disclosure button must have a visible text label.</li>
        <li>The disclosure button text label must use a default font size that makes reading comfortable.</li>
        <li>The contrast between the disclosure button text label and its background must meet (or exceed) a ratio of 4.5:1.</li>
        <li>The disclosure button must change appearance when it is expanded/collapsed.</li>
      </ul>

      <h2 class="heading-medium">Demos</h2>
      <ul class="list list-bullet">
        <li><a href="01/">Demo 01</a></li>
      </ul>

    </div>
  </div>

</main>

{% endblock %}
