{% extends "layout.html" %}

{% block page_title %}
Disclosure - Test Case 2
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {{ macro.breadcrumb([
    {
      url: "/patterns/disclosure/",
      title: "Disclosure"
    }]
  )}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Disclosure - Test Case 2
      </h1>

      <h2 class="heading-medium">Test Case - Button element</h2>

      <div class="test-case">
        <button class="disclosure-control" aria-expanded="false" aria-controls="disclosure-content-1">
          <span class="disclosure-control__icon"></span>
          Help with nationality
        </button>

        <div class="disclosure-content" id="disclosure-content-1" aria-hidden="true">

          <div class="panel panel-border-narrow">
            <p>If you're not sure about your nationality, try to find out from an official document like a passport or national ID card.
            </p>

            <p>
              We need to know your nationality so we can work out which elections you're entitled to vote in.
              If you can't provide your nationality, you'll have to send copies of identity documents through the post.
            </p>
          </div>

        </div>

      </div>

      <h2 class="heading-medium">Implementation details</h2>
      <p>This implementation use a <code>button</code> element as the control for the widget. </p>

      <h2 class="heading-medium">Results</h2>

      <h3 class="heading-small">Colour blindness</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Colour contrast</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Inverted Colours</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Increased font size</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Hit area</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Keyboard only (chrome)</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Screen readers</h3>

      <h4 class="heading-xsmall">Jaws 16 / IE 11</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">Jaws 13 / IE 9</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">NVDA / Firefox</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">VoiceOver / Safari (OS X)</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">VoiceOver / Safari (iOS 9.2.1)</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">Talkback / Firefox (Android Lollipop)</h4>
      <p>Awaiting result</p>

      <h3 class="heading-small">Screen Magnifier / ZoomText</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Speech Recognition / Dragon</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Valid markup</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Progressive Enhancement</h3>

      <h4 class="heading-xsmall">No Javascript</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">No Javascript and no CSS</h4>
      <p>Awaiting result</p>
    </div>
  </div>
</main>
{% endblock %}

{% block body_end %}
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/disclosure-02.js"></script>
{% endblock %}
