{% extends "layout.html" %}

{% block page_title %}
Text input
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

{{ macro.breadcrumb() }}

<div class="grid-row">
<div class="column-two-thirds">

<h1 class="heading-xlarge">Text input</h1>

<h2 class="heading-medium">What is it?</h2>

<p>
A simple text input
</p>

<div class="screenshot">
<h3 class="screenshot__heading">screenshot</h3>
<img src="/public/images/text-input/screenshot.png" width="317" height="75" alt="Screen shot of text input" />
</div>


<h2 class="heading-medium">Accessibility success criteria</h2>
<ul class="list list-bullet">
<li>It must be possible to place focus in the text input by clicking or tapping on the label and/or the field.</li>
<li>It must be possible to place focus in the text input using the keyboard (tab key).</li>
<li>It must be possible to place focus in the text input using the keyboard (screen reader shortcuts).</li>
<li>When the text input receives focus screen readers must announce the label automatically.</li>
<li>When focus is placed in the text input it must be possible to enter characters using the keyboard.</li>
<li>When focus is placed in the text input it must be possible to enter characters using voice commands.</li>
<li>It must be possible to identify the corresponding label for the text input when using screen magnification.</li>
<li>It must be possible to use the text input when JavaScript is unavailable.</li>
<li>It must be possible to use the text input when CSS is unavailable.</li>
</ul>

<h2 class="heading-medium">Test Cases</h2>

<ul class="list list-bullet">
<li><a href="/patterns/text-input/01/">01 - text input + label associated with for/id attributes</a></li>
<li><a href="/patterns/text-input/02/">02 - text input + wrapped label</a></li>
<li><a href="/patterns/text-input/03/">03 - text input with title attribute</a></li>
</ul>
</div>
</div>
</main>

{% endblock %}


