// Helper classes for showing and hiding

// Set hidden states
.if-no-js-hide,
.js-enabled .if-js-hide,
.js-enabled .is-hidden {
  display: none !important;
}

// Show when JS is enabled
.js-enabled .if-no-js-hide {
  display: block !important;
}

.accordion-with-descriptions-01 {

  // Open/Close all button
  .subsection-controls {
    @extend %contain-floats;
  }

  .subsection-controls button {
    float: right;

    @include core-16;
    cursor: pointer;
    background: none;
    border: none;
    color: $link-colour;
    text-decoration: underline;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  // Subsections
  .subsection-wrapper {
    border-top: 1px solid $border-colour;
  }

  .subsection {
    width: 100%;
    position: relative;
    border-bottom: 1px solid $border-colour;
  }

  .subsection__button {
    display: block;
    width: 100%;
    text-align: left;
    border: 0;
    background: #FFF;
    padding: 1em 0;
    &:hover {
      cursor: pointer;
      background: $highlight-colour;
    }
  }


  .subsection__title {
    @include bold-19;
    color: $govuk-blue;
    padding-top: 1em;
  }

  button .subsection__title {
    padding-top: 0;
  }


  .subsection__description {
    display: block;
    @include core-16;
    color: $secondary-text-colour;
    margin-bottom: 0;
  }


  .subsection__icon {
    position: absolute;
    right: 15px;
    top: 15px;

    height: 16px;
    width: 16px;

    // https://css-tricks.com/a-complete-guide-to-svg-fallbacks/
    // PNG fallback for SVG
    background-image: url('/public/images/accordion-with-descriptions/icons.png');
    // SVG sprite
    background: url("/public/images/accordion-with-descriptions/icons.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;

    display: none;

  }

  .is-open .subsection__icon {
    background-position: 0 0;
  }

  .is-closed .subsection__icon {
    background-position: 0 -16px;
  }

  .subsection__items {
    padding-bottom: 0.5em;
  }

  .subsection__items li {
    margin-bottom: 0.25em;
  }

  .subsection__items li a {
    text-decoration: none;
  }

}

// This will sit in government frontend, hence reverting BEM syntax in Demo 2
.accordion-with-descriptions-02 {
  // Make open and close buttons look like links
  .subsection-controls {
    @extend %contain-floats;
    min-height: 35px;

    button.js-open-close {
      float: right;

      @include core-16;
      cursor: pointer;
      background: none;
      border: none;
      color: $link-colour;
      padding: 0.5em 0;
    }
  }

  .subsection-wrapper {
    border-bottom: 1px solid $border-colour;
  }

  .subsection__header {
    padding: 0.6em 0;
    border-top: 1px solid $border-colour;
    position: relative;
  }


  .subsection__title {
    @include bold-19;
    padding-top: 0;

    button {
      @include bold-19;
      color: $govuk-blue;
      background: none;
      cursor: pointer;
      background: none;
      border: none;
      padding: 0;
    }
  }


  .subsection-title {
    @include bold-19;
    color: $govuk-blue;
    padding-top: 1em;
  }
  .subsection-title:hover {
    cursor: pointer;
  }
  .subsection-title:focus {
    outline: 3px solid $focus-colour;
  }


  .subsection__description {
    display: block;
    @include core-16;
    color: $secondary-text-colour;
    margin-bottom: 0;
  }

  .subsection__items {
    padding-bottom: 0.5em;
  }

  .subsection__items li {
    margin-bottom: 0.25em;
  }

  .subsection__items li a {
    text-decoration: none;
  }

  // javascript inserted markup
  .subsection__link {
    text-decoration: none;
    color: $govuk-blue;
  }

  .js-hide {
    display: none;
  }

  .subsection__icon {
    position: absolute;
    right: 15px;
    top: 15px;

    height: 15px;
    width: 16px;

    // https://css-tricks.com/a-complete-guide-to-svg-fallbacks/
    // PNG fallback for SVG
    background-image: url('/public/images/accordion-with-descriptions/icons.png');
    // SVG sprite
    background: url("/public/images/accordion-with-descriptions/icons.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: 0 -16px;
  }

  .is-open .subsection__icon {
    background-position: 0 0;
  }


  .js .subsection__header {
    &:hover {
      cursor: pointer;
      background: $highlight-colour;
    }
  }

}

.accordion-with-descriptions-03 {
  // Make open and close buttons look like links
  .subsection-controls {
    @extend %contain-floats;
    min-height: 35px;

    .js-open-close {
      float: right;

      @include core-16;
      display: inline-block;
      color: $link-colour;
      padding: 0.5em 0;
    }
  }

  .subsection-wrapper {
    border-bottom: 1px solid $border-colour;
  }

  .subsection__header {
    padding: 0.6em 0;
    border-top: 1px solid $border-colour;
    position: relative;
  }

  .subsection__title {
    @include bold-19;
    padding-top: 0;
    padding-top: 0;
  }

  .subsection__description {
    display: block;
    @include core-16;
    color: $secondary-text-colour;
    margin-bottom: 0;
  }

  .subsection__items {
    padding-bottom: 0.5em;
  }

  .subsection__items li {
    margin-bottom: 0.25em;
  }

  .subsection__items li a {
    text-decoration: none;
  }

  // javascript inserted markup
  .subsection__link {
    text-decoration: none;
    color: $govuk-blue;
  }

  .js-hide {
    display: none;
  }

  .subsection__icon {
    position: absolute;
    right: 15px;
    top: 15px;

    height: 15px;
    width: 16px;

    // https://css-tricks.com/a-complete-guide-to-svg-fallbacks/
    // PNG fallback for SVG
    background-image: url('/public/images/accordion-with-descriptions/icons.png');
    // SVG sprite
    background: url("/public/images/accordion-with-descriptions/icons.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: 0 -16px;
  }

  .is-open .subsection__icon {
    background-position: 0 0;
  }


  .js .subsection__header {
    &:hover {
      cursor: pointer;
      background: $highlight-colour;
    }
  }

}