.added-country {
  .form-control {
    padding: 0.5em;
  }
}

//autocomplete styling
.tt-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 65%;
  max-height: 220px;
  overflow-y: scroll;
}

.tt-suggestion {
  padding: 0.5em;

  &:hover,
  &.tt-cursor {
    color: #fff;
    background-color: #0097cf;
  }

  &:hover {
    cursor: pointer;
  }
}

.twitter-typeahead {
  width: 100%;
}

.hidden-hint .screenreader-punctuation,
.hidden-hint .form-hint, {
  @extend .visuallyhidden;
}

.test-case {
  overflow: visible
}