// Apply GOV.UK styling to selectToAutocomplete plugin 

@import "colours";
@import "conditionals";

$selected-colour: $grey-1;

.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 2px solid $grey-1;
  max-height: 350px;
  overflow-x: hidden;
  .ui-menu-item {
    border-top: 1px solid $border-colour;
    display: block;
    padding: 4px 6px;
    color: $text-colour;
    cursor: pointer;
    &:first-child {
      border-top: none;
    }
    &.ui-state-focus {
      font-weight: bold;
      background-color: $selected-colour;
      color: $white;
    }
  }
}

.ui-autocomplete{
  width: 100%;
  @include media(tablet) {
    width: 66.66%;
  }
}