{% extends "layout.html" %}

{% block page_title %}
Question page - multiple questions
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {{ macro.breadcrumb() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Question page - multiple questions
      </h1>

      <h2 class="heading-medium">What is it?</h2>

      <p>A page with multiple questions</p>

      <div class="screenshot">
        <img src="/public/images/question-page-multiple/screenshot.png" width="448" height="284" alt="Screen shot of page with multiple questions"/>
      </div>

      <h2 class="heading-medium">Accessibility success criteria</h2>

      <ul class="list list-bullet">
        <li>insert</li>
      </ul>

      <h2 class="heading-medium">Test Cases</h2>
      <ul class="list list-bullet">
        <li><a href="01/">1 - Adapted from Elements</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
