{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb-patterns.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Country selector</h1>

      <h2 class="heading-medium">Description</h2>

      <p>
        The user provides the name of a country
        from the Foreign &amp; Commonwealth Office list of 
        approved British English-language country names.
      </p>


      <h2 class="heading-medium">Examples</h2>

      <ul class="list list-bullet">
        <li><a href="/patterns/country-selector/01/">Example 1: Baymard auto-complete</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


