{% extends "layout.html" %}

{% block page_title %}
Question page - radio button
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {{ macro.breadcrumb() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Question page - radio button
      </h1>

      <h2 class="heading-medium">What is it?</h2>

      <p>insert</p>

      <div class="screenshot">
        <img src="/public/images/question-page-radios/screenshot.png" width="616" height="432" alt="Screen shot of radio buttons date of birth"/>
      </div>

      <h2 class="heading-medium">Accessibility success criteria</h2>

      <ul class="list list-bullet">
        <li>insert</li>
      </ul>

      <h2 class="heading-medium">Test Cases</h2>
      <ul class="list list-bullet">
        <li><a href="01/">1 - Elements example</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
