{% extends "layout.html" %}

{% block page_title %}
Table with non-numeric data
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {{ macro.breadcrumb() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Table with non-numeric data</h1>

      <h2 class="heading-medium">What is it?</h2>

      <p>
        A table containing non-numeric data
      </p>

      <div class="screenshot">
        <h3 class="screenshot__heading">screenshot</h3>
        <img src="/public/images/table-non-numeric/screenshot.png" width="592" height="213" alt="Screen shot of table with non-numeric data" />
      </div>


      <h2 class="heading-medium">Accessibility success criteria</h2>
      <p>to do</p>

      <h2 class="heading-medium">Test Cases</h2>

      <ul class="list list-bullet">
        <li><a href="/patterns/table-non-numeric/01/">1 - GOV.UK Elements</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


