{% extends "layout.html" %}

{% block page_title %}
Textarea
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {{ macro.breadcrumb() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Textarea</h1>

      <h2 class="heading-medium">What is it?</h2>

      <p>
        A textarea
      </p>

      <div class="screenshot">
        <h3 class="screenshot__heading">screenshot</h3>
        <img src="/public/images/textarea/screenshot.png" width="302" height="293" alt="Screen shot of a textarea" />
      </div>


      <h2 class="heading-medium">Accessibility success criteria</h2>
      <p>to do</p>

      <h2 class="heading-medium">Test Cases</h2>

      <ul class="list list-bullet">
        <li><a href="/patterns/textarea/01/">1 - GOV.UK Elements</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}


