{% extends "layout.html" %}

{% block page_title %}
Disclosure - Test Case 1
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {{ macro.breadcrumb([
    {
      url: "/patterns/disclosure/",
      title: "Disclosure"
    }]
  )}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Disclosure - Test Case 1
      </h1>

      <h2 class="heading-medium">Test Case - Details and summary elements and polyfill</h2>

      <div class="test-case">
        <details>

          <summary><span class="summary">Help with nationality</span></summary>

          <div class="panel panel-border-narrow">

            <p>
              If you're not sure about your nationality, try to find out from an official document like a passport or national ID card.
            </p>

            <p>
              We need to know your nationality so we can work out which elections you're entitled to vote in.
              If you can't provide your nationality, you'll have to send copies of identity documents through the post.
            </p>

          </div>

        </details>
      </div>

      <h2 class="heading-medium">Implementation details</h2>
      <p>This is the GOV.UK Elements implementation of a disclosure widget using the details and summary element with a
        javascript polyfil to make it work in browsers that do not natiively support it and to make it keyboard and
        screen reader accessible.</p>

      <h2 class="heading-medium">Results</h2>

      <h3 class="heading-small">Colour blindness</h3>
      <p>Awating result</p>

      <h3 class="heading-small">Colour contrast</h3>
      <p>Awating result</p>

      <h3 class="heading-small">Inverted Colours</h3>
      <p>Awating result</p>

      <h3 class="heading-small">Increased font size</h3>
      <p>Awating result</p>

      <h3 class="heading-small">Hit area</h3>
      <p>Awating result</p>

      <h3 class="heading-small">Keyboard only (chrome)</h3>
      <p>Awating result</p>

      <h3 class="heading-small">Screen readers</h3>

      <h4 class="heading-xsmall">Jaws 16 / IE 11</h4>
      <p>Awating result</p>

      <h4 class="heading-xsmall">Jaws 13 / IE 9</h4>
      <p>Awating result</p>

      <h4 class="heading-xsmall">NVDA / Firefox</h4>
      <p>Awating result</p>

      <h4 class="heading-xsmall">VoiceOver / Safari (OS X)</h4>
      <p>Awating result</p>

      <h4 class="heading-xsmall">VoiceOver / Safari (iOS)</h4>
      <p>Awating result</p>

      <h3 class="heading-small">Screen Magnifier / ZoomText</h3>
      <p>Awating result</p>

      <h3 class="heading-small">Speech Recognition / Dragon</h3>
      <p>Awating result</p>

      <h3 class="heading-small">Valid markup</h3>
      <p>Awating result</p>

      <h3 class="heading-small">Progressive Enhancement</h3>

      <h4 class="heading-xsmall">No Javascript</h4>
      <p>Awating result</p>

      <h4 class="heading-xsmall">No Javascript and no CSS</h4>
      <p>Awating result</p>

    </div>
  </div>
</main>
{% endblock %}
