{% extends "layout.html" %}

{% block page_title %}
Demo 1 - Disclosure
{% endblock %}

{% block content %}
<main id="content" role="main">

    {% include "includes/breadcrumb_examples.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

                <h1 class="heading-xlarge">
                    Demo 1 - Disclosure
                </h1>

                <h2 class="heading-medium">Implementation</h2>

                <div class="example">
  <details>

    <summary><span class="summary">Help with nationality</span></summary>

    <div class="panel panel-border-narrow">

      <p>
        If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
      </p>

      <p>
        We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have
to send copies of identity documents through the post.
      </p>

    </div>

  </details>

                </div>

                <h2 class="heading-medium">Results</h2>
                <p>The component is yet to be tested...</p>

            </form>

        </div>
    </div>
</main>
{% endblock %}
