{% extends "layout.html" %}

{% block page_title %}
Table with non-numeric data - Test Case 1
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {{ macro.breadcrumb([
    {
      url: "/patterns/table-non-numeric/",
      title: "Table with non-numeric data"
    }]
  )}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Table with non-numeric data - Test Case 1
      </h1>

      <h2 class="heading-medium">Test Case - GOV.UK Elements</h2>

      <div class="test-case">
        <table>
          <thead>
          <tr>
            <th colspan="2">Dates and amounts</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>First 6 weeks</td>
            <td>£109.80 per week</td>
          </tr>
          <tr>
            <td>Next 33 weeks</td>
            <td>£109.80 per week</td>
          </tr>
          <tr>
            <td>Total estimated pay</td>
            <td>£4,282.20</td>
          </tr>
          <tr>
            <td>Tell the mother’s employer</td>
            <td>28 days before they want to start maternity pay</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2 class="heading-medium">Implementation details</h2>

      <p>to do</p>

      <h2 class="heading-medium">Results</h2>

      <h3 class="heading-small">Colour blindness</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Colour contrast</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Inverted Colours</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Increased font size</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Hit area</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Keyboard only (chrome)</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Screen readers</h3>

      <h4 class="heading-xsmall">Jaws 16 / IE 11</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">Jaws 13 / IE 9</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">NVDA / Firefox</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">VoiceOver / Safari (OS X)</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">VoiceOver / Safari (iOS 9.2.1)</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">Talkback / Firefox (Android Lollipop)</h4>
      <p>Awaiting result</p>

      <h3 class="heading-small">Screen Magnifier / ZoomText</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Speech Recognition / Dragon</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Valid markup</h3>
      <p>Awaiting result</p>

      <h3 class="heading-small">Progressive Enhancement</h3>

      <h4 class="heading-xsmall">No Javascript</h4>
      <p>Awaiting result</p>

      <h4 class="heading-xsmall">No Javascript and no CSS</h4>
      <p>Awaiting result</p>
    </div>
  </div>
</main>
{% endblock %}