{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

{% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Accessibility sandbox</h1>
        <p>A place to build and view components with accessibility in mind and get feedback from the community and beyond.</p>

        <h2 class="heading-medium">Patterns</h2>
        <ul>
          <li><a href="/patterns/accordion-with-descriptions/">Accordion with descriptions</a></li>
          <li><a href="/patterns/autocomplete/">Autocomplete</a></li>
          <li><a href="/patterns/date-of-birth/">Date of birth</a></li>
          <li><a href="/patterns/disclosure/">Disclosure</a></li>
        </ul>

        <h2 class="heading-medium">Single page pattern libraries</h2>
        <ul>
            <li><a href="/library">Prototype toolkit patterns</a></li>
        </ul>
    </div>
  </div>
</main>

{% endblock %}


