{% extends "layout.html" %}

{% block page_title %}
Accessibility sandbox
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">
  {{ macro.breadcrumb() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Accessibility sandbox</h1>

      <p>A place to build patterns with accessibility in mind and to get them tested and capture feedback.</p>

      <h2 class="heading-medium">Building blocks</h2>

      <h3 class="heading-small">Basic form elements</h3>
      <ul>
        <li><a href="/patterns/text-input/">Text input</a></li>
        <li><a href="/patterns/text-input-hint/">Text input with hint</a></li>
        <li><a href="/patterns/textarea/">Textarea</a></li>
        <li><a href="/patterns/checkbox-inline/">Checkbox (inline)</a></li>
        <li><a href="/patterns/checkboxes-group/">Checkboxes (group)</a></li>
        <li><a href="/patterns/radio-buttons/">Radio buttons</a></li>
        <li><a href="/patterns/dropdown/">Select / Drop-down list</a></li>
      </ul>

      <h3 class="heading-small">Form question patterns</h3>
      <ul>
        <li><a href="/patterns/date-of-birth/">Date of birth</a></li>
      </ul>

      <h3 class="heading-small">Interactive form components</h3>
      <ul>
        <li><a href="/patterns/autocomplete/">Autocomplete</a></li>
        <li><a href="/patterns/list-entry/">List entry</a></li>
        <li>Textarea with character count</li>
      </ul>

      <h3 class="heading-small">Content patterns</h3>
      <ul>
        <li><a href="/patterns/accordion-with-descriptions/">Accordion with descriptions</a></li>
        <li><a href="/patterns/disclosure/">Disclosure</a></li>
      </ul>

      <h2 class="heading-medium">Page patterns</h2>
      <ul>
        <li><a href="/pages/start-page/">Start page</a></li>
        <li><a href="/pages/question-date-of-birth/">Question page - date of birth</a></li>
        <li><a href="/pages/question-radio-buttons/">Question page - radio buttons</a></li>
      </ul>

      <h2 class="heading-medium">Interface inventories</h2>
      <ul>
        <li><a href="/interface-inventories/prototype-kit">Prototype kit</a></li>
        <li><a href="/interface-inventories/elements">Elements</a></li>
      </ul>




    </div>
  </div>
</main>

{% endblock %}


