{% extends "layout.html" %}

{% block page_title %}
Prototype toolkit patterns
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

    {% include "includes/breadcrumb_examples.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <form action="#">
                <h1>Prototype toolkit patterns</h1>

                <p>Note: the heading structure is broken on this page</p>

                <h2>Links and buttons</h2>

                <h3>Start call to action</h3>
                <div class="example">
                    <a class="button button-start" href="#" role="button">Start now</a>
                </div>

                <h3>Default call to action</h3>
                <div class="example">
                    <div class="form-group">
                        <input class="button" type="submit" value="Continue">
                    </div>

                    <div class="form-group">
                        <button class="button">Submit</button>
                    </div>

                    <a href="http://www.google.co.uk" class="button">Start</a>
                </div>

                <h3>Link with visually hidden text</h3>
                <div class="example">
                    <a href="#">
                        Change <span class="visuallyhidden">Exporter name</span>
                    </a>
                </div>

                <h2>Content</h2>
                <h3>Content with a change of language</h3>
                <div class="example">
                    <p>The online service is also available in <a href="#" hreflang="cy">Welsh (<span lang="cy">Cymraeg</span>).</a></p>
                </div>

                <h3>Highlight box</h3>
                <div class="example">
                    <div class="govuk-box-highlight">
                        <h1 class="bold-large">Application complete</h1>
                        <p>
                            Your reference number is <br>
                            <strong class="heading-medium">HDJ2123F</strong>
                        </p>
                    </div>
                </div>

                <h3>User data</h3>
                <div class="example">
                    <table class="check-your-answers">

                        <thead>
                        <tr>
                            <th colspan="2">
                                <h2 class="heading-medium">
                                    Organisations involved
                                </h2>
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                Producer
                            </td>
                            <td>
                                Producer name
                            </td>
                            <td class="change-answer">
                                <a href="#">
                                    Change <span class="visuallyhidden">Producer name</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h3>Related Link</h3>
                <div class="example">
                    <div class="related-links">
                        <h2 class="heading-medium">Carers and disability benefits</h2>

                        <ul class="font-xsmall">
                            <li><a href="/carers-allowance">Carer's Allowance</a></li>
                            <li><a href="/carers-credit">Carer's Credit</a></li>
                            <li><a href="/browse/benefits/disability" class="bold-xsmall">More <span class="visuallyhidden">in Carers and disability benefits</span></a></li>
                        </ul>
                    </div>
                </div>

                <h3>Disclosure</h3>
                <div class="example">
                    <div class="form-group">
                        <details>
                            <summary><span class="summary">Help with date of birth</span></summary>
                            <div class="panel panel-border-narrow">
                                <p>
                                    If you don’t know your exact date of birth, use the one you put on official documents (for example, your passport or driving licence).
                                </p>
                                <p>
                                    If you can’t provide your date of birth you’ll have to send copies of identity documents through the post.
                                </p>
                            </div>
                        </details>
                    </div>
                </div>

                <h2>Forms</h2>

                <h3>Text field with hint</h3>
                <!-- -->
                <div class="example">
                    <div class="form-group">
                        <label class="form-label-bold" for="full-name">Full name
                            <span class="form-hint">As shown on your birth certificate or passport</span>
                        </label>
                        <input type="text" class="form-control" id="full-name">
                    </div>
                </div>


                <h3>Date of birth 1</h3>
                <div class="example">
                    <h2 class="heading-small">What is your date of birth?</h2>
                    <fieldset>
                        <legend class="visuallyhidden">Date of birth</legend>

                        <div class="form-date">

                            <p class="form-hint">For example, 31 3 1980</p>

                            <div class="form-group form-group-day">
                                <label for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <h3>Date of birth 2</h3>
                <div class="example">
                    <fieldset>
                        <legend class="form-label-bold">Date of birth</legend>

                        <div class="form-date">

                            <p class="form-hint">For example, 31 3 1980</p>

                            <div class="form-group form-group-day">
                                <label for="dob-day">Day</label>
                                <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="dob-month">Month</label>
                                <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="dob-year">Year</label>
                                <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
                            </div>
                        </div>

                    </fieldset>
                </div>


                <h3>Address</h3>
                <div class="example">
                    <h2 class="heading-medium">
                        Your address
                    </h2>

                    <fieldset>
                        <legend class="visuallyhidden">
                            Your address
                        </legend>

                        <div class="form-group form-group-compound">
                            <label class="form-label" for="address-line-1">Street</label>
                            <input class="form-control" type="text" id="address-line-1">
                        </div>

                        <div class="form-group">
                            <label class="form-label visuallyhidden" for="address-line-2">Street</label>
                            <input class="form-control" type="text" id="address-line-2">
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="address-town">Town or City</label>
                            <input class="form-control form-control-1-4" type="text" id="address-town">
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="address-postcode">Postcode</label>
                            <input class="form-control form-control-1-8" type="text" id="address-postcode">
                        </div>

                    </fieldset>
                </div>

                <h3>Checkboxes with conditional reveal</h3>
                <div class="example">
                    <h4 class="heading-large">
                        What is your nationality?
                    </h4>

                    <p>If you have dual nationality, select all options that are relevant to you.</p>

                    <div class="form-group">
                        <fieldset>

                            <legend class="visuallyhidden">What is your nationality?</legend>

                            <label for="nationality_british" class="block-label">
                                <input type="checkbox" name="nationality_british" value="British" id="nationality_british">
                                British
                            </label>

                            <label for="nationality_irish" class="block-label">
                                <input type="checkbox" name="nationality_irish" value="Irish" id="nationality_irish">
                                Irish
                            </label>

                            <label for="nationality_other" class="block-label" data-target="example_nationality_other">
                                <input type="checkbox" name="nationality_other" value="Wales" id="nationality_other">
                                Citizen of another country
                            </label>

                            <div class="panel panel-border-narrow js-hidden" id="example_nationality_other">
                                <label for="nationality_other_countries" class="form-label">
                                    Country name
                                </label>
                                <input class="form-control" type="text" id="nationality_other_countries">
                            </div>

                        </fieldset>
                    </div>
                </div>

                <h3>Radio button</h3>
                <div class="example">
                    <h2 class="heading-large">
                        Which part of the Housing Act was your licence issued under?
                    </h2>

                    <p>
                        Select one of the options below.
                    </p>

                    <div class="form-group">
                        <fieldset>

                            <legend class="visuallyhidden">
                                Which part of the Housing Act was your licence isued under?
                            </legend>

                            <label for="radio-part-2" class="block-label">
                                <input id="radio-part-2" type="radio" name="housing-act" value="Part 2">
                                <span class="heading-small">Part 2 of the Housing Act 2004</span><br>
                                For properties that are 3 or more stories high and occupied by 5 or more people
                            </label>

                            <label for="radio-part-3" class="block-label">
                                <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
                                <span class="heading-small">Part 3 of the Housing Act 2004</span><br>
                                For properties that are within a geographical area defined by a local council
                            </label>

                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}
