{% extends "layout.html" %}

{% block page_title %}
Confirmation page
{% endblock %}

{% block content %}
<main id="content" role="main" tabindex="-1">

  {{ macro.breadcrumb() }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Confirmation page
      </h1>

      <h2 class="heading-medium">What is it?</h2>

      <p>A confirmation page</p>

      <div class="screenshot">
        <img src="/public/images/confirmation-page/screenshot.png" width="487" height="311" alt="Screen shot of a confirmation page"/>
      </div>

      <h2 class="heading-medium">Accessibility success criteria</h2>

      <ul class="list list-bullet">
        <li>insert</li>
      </ul>

      <h2 class="heading-medium">Test Cases</h2>
      <ul class="list list-bullet">
        <li><a href="01/">1 - Prototype kit</a></li>
      </ul>

    </div>
  </div>
</main>
{% endblock %}
