{% extends "layout.html" %}



{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        <span class="heading-secondary">
        Country selector
        </span>
        Demo 01
      </h1>

      <p>Country selector, using data from <a href="http://country.openregister.org">country.openregister.org</a>.</p>

      <p>Based on the <a href="http://baymard.com/labs/country-selector">Baymard Select-To-Autocomplete plugin</a>.</p>

      <div class="example">

        <form class="form">

          <div class="form-group ui-front">
            <label for="#country-selector" class="form-label">Country of birth</label>
            <select name="country" class="form-control form-control-2-3" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off">
              <option value="" selected="selected">Select Country</option>
              {% for country in countries %}
              {% set aliases = country.entry.aliases -%}
              {% set weighting = country.entry.weighting -%}
              <option 
                value="{{ country.entry.name }}"
                {% if aliases -%} 
                data-aliases="{% for alias in aliases %}{{ alias }} {% endfor %}" 
                {% endif -%}
                {% if weighting -%} 
                data-weighting="{{ country.entry.weighting }}"
                {% endif -%}
              >
                {{ country.entry.name }}
              </option>
              {% endfor %}
            </select>
          </div>
          
          <div class="form-group">
            <input type="submit" value="Submit" class="button">
          </div>

        </form>

      </div>

      <h2 class="heading-medium">
        Attributes
      </h2>

      <p>The control is a HTML select tag, enhanced with JavaScript.
        Attributes can be added to the option tags to customise the experience.</p>

      <table class="table">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>data-weighting</td>
            <td>
              Determines the sort order of matched items.<br>
              Default value is 1.<br>
              For an example, type 'United'.
            </td>
          </tr>
          <tr>
            <td>data-aliases</td>
            <td> 
              Other strings that should match against the item.<br>
              Default value is country code.</br>
              For an example, type 'Great Britain'.   
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="heading-medium">
        Data
      </h2>

      <p>The register data is stored in '/app/data/country-records.json'.</p>

      <p>This data has been extended with weightings and aliases attributes.</p>

      <p>These are stored in '/app/data/country-records-extension.json'</p>

      <p><a href="register">You can see the extended attributes here</a></p> 


    </div>
  </div>

</main>

{% endblock %}

{% block body_end %}
{{ super() }}
  <!-- Country selector -->
  <script src="/public/country-selector/01/selectToAutocomplete/jquery-ui.min.js"></script>
  <script src="/public/country-selector/01/selectToAutocomplete/jquery.select-to-autocomplete.js"></script>

  <script>
    (function($){

      // Country selector
      $(function(){
        $('select').selectToAutocomplete();
        $('form').submit(function(){
          alert( $(this).serialize() );
          return false;
        });
      });

    })(jQuery);
  </script>
{% endblock %}

